  /* Styling the navigation menu */
  body {
    background-image: url('../images/Welcome.png'); /* URL of the image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-color: rgba(46, 87, 73, 0.842);
    height: 100vh; /* Full height */
    margin: 0;
}
ul {
    list-style-type: none;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 21%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(2, 2, 2);
    border-radius: 50px;
    border: 1px solid white;
}

li {
    flex: 1;
    position: relative; /* Important for the dropdown to position correctly */
}

li a,li label {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a:hover {
    background-color: rgb(16, 104, 92);
    border-radius: 50px;
    text-align: center;
}
#current-page{
    background-color: rgb(248, 250, 250);
    border-radius: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
#login_box {
    border: 1px solid white;
    position: relative;
    border-radius: 50px;
    padding: 1%;
    margin-top:2%;
    margin-left: 1.5%;
    text-align: center;
    width:25%;

}
#offers_box, #info_box,#login_box {
    display: inline-block;
    margin-top: 2%;
    /* padding: 5%; */
    color: white;
}
#offers_box {
    display:inline-block;
    padding: 2%;
    /* border: 1px solid white;
    border-radius: 50px;  */
    width: 38%;
    height: 50%;
    vertical-align: top; /* Align them at the top if needed */
    font-size: larger;
    color: white;
    font-size: larger;
    text-align: center;
}
#info_box {
    width:25%;
    height: 200px;
    vertical-align: top; /* Align them at the top if needed */
    border: 1px solid white;
    border-radius: 50px;
    padding: 1%;
    margin-right: 1.5%;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 90%;
    left:5%;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgb(16, 104, 92);
    border-radius:0 ;
}

.show {
    display: block;
}
/* .main_menu{
    position: sticky;
    top:10px;
} */
#offres_homepage{
    color:white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}