   /* Styling the navigation menu */
   body {
    background-image: url('../images/background2.png'); /* URL of the image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    /*width:100%;
    height:100%;*/
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Make sure the body takes the full height of the viewport */
    margin: 0;
}
ul {
    list-style-type: none;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 11%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(2, 2, 2);
    border-radius: 50px;
    border: 1px solid white;
}

li {
flex: 1; /* Make each list item take up equal space */
position: relative; /* Important for the dropdown to position correctly*/
}

li a,li label {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a:hover {
    background-color: rgb(16, 104, 92);
    border-radius: 50px;
    text-align: center;
}
#current-page{
    background-color: rgb(248, 250, 250);
    border-radius: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 90%;
    left:5%;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgb(16, 104, 92);
    border-radius:0 ;
}

.show {
    display: block;
}
.container{
    /* border: 1px solid white; */
    border-radius: 25%;
    display: flex;
}
.main-menu {
    border: 1px solid #ffffff;
    border-radius: 20px;
    flex: 1 1 300px;
    margin: 10px;
    margin-left: 1%;
    margin-top:1%;
}
.side-menu {
    order:1;
    /* border: 1px solid white;
    border-radius: 10%; */
    flex: 0 1 15%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 20px;
    width:20%;
    height: 30%;
    margin-right: 5%;
    /* margin-top: 2.5%; */
    color: #f9f9f9;
}

.container> .side-menu> a{
    color: #ffffff;
    padding: 10px;
    padding-top:15px;
    font-size: large;
    height: 100%;
    text-decoration: none;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
#current-product{
    background-color: rgb(248, 250, 250);
    border-radius: 20px;
    color: black;

}
.container> .side-menu> a:hover{
    background-color: rgb(16, 104, 92);
    border-radius: 20px;
    text-align: center;
    font-size:  larger;
}


/* .main_menu{
    position: sticky;
    top:10px;
} */